# Data Science Tools and Ecosystem

## Author
Carlos Quiroz

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objetives:**
- List popular languages for Data Science
- List popular libraries for Data Science
- List popular tools for Data Science
- Examples of arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. ggplot

|Data Science Tools|
|---------|
|Jupyter|
|Spyder|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
1+2

3

In [4]:
2*3

6

In [5]:
3/4

0.75

This a simple arithmetic expression to mutiply then add integers

In [6]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [7]:
200/60

3.3333333333333335